#all_member_holder{
    color:white;
}
.member_table_title{
    background-color: rgb(160,160,160);
    
}
#member_table{
    text-align: center;
}
#member_table th{
    text-align: center;
}
#check_body{
  margin: 0;
  background-image: url("back.png");
  background-size:cover;
  overflow: hidden;
  min-height:100vh;
  max-height: 100vh;
  color:white;
}
#check_form{
  text-align:center;
  font-size:18px;
}
.check_label {
  display: inline-block;
  color: white;
  cursor: pointer;
  position: relative;
  margin-right:15px;
  min-width:85px;
}
.check_label .check_name {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid white;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.check_label .check_name:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: white;
  position: absolute;
  transform: rotate(45deg);
  top: 11px;
  left: 7px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.check_label .check_name:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: white;
  position: absolute;
  transform: rotate(305deg);
  top: 15px;
  left: 8px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.check_label:hover .check_name:before {
  width: 5px;
  transition: width 100ms ease;
}
.check_label:hover .check_name:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .check_label .check_name {
  background-color: white;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + .check_label .check_name:after {
  width: 10px;
  background: black;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + .check_label .check_name:before {
  width: 5px;
  background: black;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + .check_label:hover .check_name {
  background-color: white;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + .check_label:hover .check_name:after {
  width: 10px;
  background: black;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + .check_label:hover .check_name:before {
  width: 5px;
  background: black;
  transition: width 150ms ease 100ms;
}

.custom_btn3{
  font-size:30px;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent !important;
  border:3px solid #ccc;
  color:rgb(205,205,205);
  border-radius: 5px;
  margin-right: 6px;
  min-width:150px;
  margin-top:70px;
}
.custom_btn3:hover{
  border:3px solid white;
  color:white;  
}
.check_run_info {
    margin-left:20%;
    margin-right:20%;
}
.check_run_info h2{
    border-bottom:2px solid white;
    padding-bottom:20px;
    margin-top:20px;
    text-align:center;
}
.check_info{
    margin-left:20%;
    text-align:left;
}
.check_info p{
  font-size:20px;
  
}
.already_done{
    margin-left:20%;
    text-align:left;
}
.already_done p{
  font-size:20px;
}
#done_list{
  margin-top:20px;
}

#check_master{
  margin-left:20%;
  margin-right:20%;
}

#check_container{
  display:none;
}

@media only screen and (max-width: 500px) {
 .check_info{
        margin-left:15px;
    }   
    .already_done{
    margin-left:15px;
}
}
#index_body{
  margin: 0;
  background-color: rgb(105, 105, 105);
  overflow: hidden;
  max-height: 100vh;
}
#back_img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height:auto;
  min-width: 80%;
  min-height: 100%;
  max-height: 100vh;
  transform:  translate(-50%,-50%);
  opacity: 0.7;
  z-index: -2;
}
.go{
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:200px;
  height:auto;
  overflow: hidden;
}
.go img{
  width:100%;
  height:auto;
  cursor: pointer;
}


video{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 60vw;
  height: auto;
  opacity: 1;
  overflow: hidden;
  transform:  translate(-50%,-50%);
}

.index_content{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:200px;
  z-index: 4;
  height:auto;
  font-size:15px;
  color:white;
  text-align: center;
  overflow: hidden;
  font-family: runFont;
}
@media only screen and (max-width: 500px) {
  .go{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:200px;
    height:auto;
    overflow: hidden;
  }
  video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: auto;
    opacity: 1;
    overflow: hidden;
    transform:  translate(-50%,-50%);
  }
  #back_img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    min-height: 100%;
    max-height: 100vh;
    transform:  translate(-50%,-50%);
    opacity: 0.7;
    z-index: -2;
  }
  .index_content{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:200px;
    z-index: 4;
    height:auto;
    font-size:15px;
    color:white;
    text-align: center;
    overflow: hidden;
    font-family: runFont;
  }
}
@font-face {
  font-family: runFont;
  src:url('font/run.ttf');
}
#main_body{
  background-image: url("back.png");
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  overflow-x: hidden;
  min-height: 100%;
  font-family: runFont;
}
.web{
        display:inline-block;
    }
    .mobile{
        display:none;
    }
#logo{
  min-height: 100px;
  padding:20px;
  left:50%;
  top:15%;
  font-size:40px;
  color: white;
  opacity: 0.7;
  transform: translateX(-50%);
  background-color: transparent !important;
}
header.world {
  position: absolute;
  width: 100VW;
  height: 350px;
  top: 18%;
  left: 50%;
  overflow: hidden;
  background: rgb(100, 175, 230); /* For browsers that do not support gradients */
  background: linear-gradient(rgb(100, 175, 230),rgb(149, 216, 231),white); /* Standard syntax */
  box-shadow: 0 16px 10px -10px rgb(105, 105, 105);
  transform: translate(-50%, -50%);
}
header.world div {
  position: absolute;
  box-sizing: border-box;
  background: #333333;
  border-radius: 2px;
}
header.world div::before, header.world div::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}

.back {
  bottom: 0;
  right: -40%;
}

.back.one {
  width: 30%;
  height: 28%;
  animation: elem 10s linear infinite;
  
}

.back.two {
  width: 40%;
  height: 36%;
  animation: elem 10s linear infinite 1.2s;
  
}

.back.three {
  width: 7%;
  height: 44%;
  animation: elem 10s linear infinite 2.4s;
  
}

.back.four {
  width: 18%;
  height: 33%;
  animation: elem 10s linear infinite 3.6s;
  
}

.back.five {
  width: 10%;
  height: 50%;
  animation: elem 10s linear infinite 4.8s;
  
}

.back.six {
  width: 20%;
  height: 30%;
  animation: elem 10s linear infinite 6.3s;
  
}

.back.seven {
  width: 8%;
  height: 45%;
  animation: elem 10s linear infinite 6.6s;
  
}

.floor {
  width: 100%;
  height: 4px;
  bottom: 0;
}
.floor .rock {
  bottom: 0;
  right: -20px;
}
.floor .rock.one {
  width: 16px;
  height: 26px;
  animation: elem 7s linear infinite;
}
.floor .rock.two {
  width: 20px;
  height: 18px;
  animation: elem 7s linear infinite 4.4s;
}
.floor .rock.three {
  width: 13px;
  height: 26px;
  animation: elem 7s linear infinite 5.3s;
}
.floor .grass {
  width: 2px;
  bottom: 0;
  right: -2px;
}
.floor .grass.one {
  height: 15px;
  animation: elem 7s linear infinite;
}
.floor .grass.two {
  height: 10px;
  animation: elem 7.3s linear infinite 4.2s;
}
.floor .grass.three {
  height: 18px;
  animation: elem 6.5s linear infinite 4.4s;
}
.floor .grass.four {
  height: 5px;
  animation: elem 6.9s linear infinite 4.6s;
}
.floor .grass.five {
  height: 7px;
  animation: elem 7s linear infinite 4.8s;
}
.floor .grass.six {
  height: 10px;
  animation: elem 7.1s linear infinite 5s;
}
.floor .grass.seven {
  height: 4px;
  animation: elem 7s linear infinite 5.2s;
}
.floor .grass.height {
  height: 7px;
  animation: elem 7s linear infinite 5.4s;
}
.floor .grass.nine {
  height: 10px;
  animation: elem 7.1s linear infinite 5.6s;
}
.floor .grass.ten {
  height: 6px;
  animation: elem 7s linear infinite 5.8s;
}

.cloud {
  height: 20px;
  right: -160px;
  background: rgba(255, 255, 255, 0.3) !important;
}
.cloud::before, .cloud::after {
  background: rgba(255, 255, 255, 0.3) !important;
}
.cloud::before {
  width: 80%;
  height: 50%;
  bottom: -25%;
  left: -20%;
}
.cloud::after {
  width: 60%;
  height: 30%;
  top: -15%;
  right: -10%;
}

.cloud.one {
  width: 100px;
  top: 60px;
  animation: cloud 7s linear infinite;
}

.cloud.two {
  width: 80px;
  top: 20px;
  animation: cloud 6.6s linear infinite 4.5s;
}

.cloud.three {
  width: 130px;
  top: 110px;
  animation: cloud 7.2s linear infinite 5s;
}
.runner1{
  bottom :0;
  left:45%;
  background-color: transparent !important;
  color: transparent;
  width:100px;
  height:auto;
}
.runner1 img{
  width:100%;
}

.runner2{
  bottom :0;
  left:40%;
  background-color: transparent !important;
  color: transparent;
  width:80px;
  height:auto;
}
.runner2 img{
  width:100%;
}

@keyframes elem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2500px);
  }
}

@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2500px);
  }
}


section{
  margin-top:350px;
  min-height:50vh;
  height:100%;
}
.Title_name{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  font-size:20px;
  margin-top:20px;
  padding-left: 10px;
  padding-top:5px;
}
.cutstom_btn{
  float: right;
  font-size:13px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  outline: none;
  color:white !important;
  background-color: transparent;
  margin-top:10px;
  margin-right:6px;
}
.cutstom_btn:hover{
  color:white !important;
}

.cutstom_btn2{
  float: right;
  font-size:13px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  outline: none;
  color:white !important;
  background-color: transparent;
}
.cutstom_btn2:hover{
  color:rgb(230,230,230) !important;
}

table{
    width:100%;
}
table th{
  max-width:25% !important;
  min-width:15% !important;
  padding:3px !important;
}
#rank{
  width:50px !important;
}
table td{
  padding:3px !important;
  max-width:25% !important;
  min-width:15% !important;
}
.table_title{
    background-color: rgb(30, 30, 30);
}
.attend_rank_tr{
  font-size:13px !important;
}


/*카드 css*/
.running_info{
  padding-top:20px;
}
.card_holder{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 15px;
  margin-bottom: 3px;
  min-height:140px;
  background-color: white;
  box-shadow: 3px 3px 2px #888888;
  border-radius: 10px;
  color:black;
}
.card_left{
  display:inline-block;
  width:35%;
  min-height:140px;
}
.card_right{
  display:inline-block;
  width:60%;
  min-height:140px;
  border-radius: 0 10px 10px 0;
}
.card_main_info{
  position: absolute;
  top:10%;
  left:5%;
  width:30%;
  height:80%;
  z-index:2;
  border-right:1.5px dashed gray;
  transition:  color 1s;
  margin-left: 10px;
}
.left_color{
  position: absolute;
  z-index:1;
  background-color: blue;
  border-radius: 10px 0 0 10px;
  width: 5%;
  top:0;
  left:0;
  height:100%;
  transition:  width 1s;
}

.card_info{
  position: absolute;
  top:10%;
  left:40%;
  width:50%;
  height:80%;
}

.price{
  font-size:18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 35px;
}
.date{
  margin-left: 5px;
}
.location{
  margin-left: 5px;
  margin-bottom: 2px;
}
.title{
  font-size:20px;
  font-weight: 600;
  margin-top:7px;
  margin-left: 5px;
}
.link{
  position:absolute;
  bottom:0;
  right:0;
  float:right;
}
a{
  text-decoration: none !important;
  color:gray !important;
}
a:hover{
  color:black !important;
  font-weight: 600;
}
#footer{
  background-color:rgba(50,50,50,0.8);
  float:right;
  text-align: right;
  padding-top:50px;
  padding-right:20px;
  padding-left:20px;
  width:100%;
  color:white;
}
.control-label{
  padding-left: 2px !important;
  padding-right: 2px !important;
}


/*modal css*/
.modal {
    color:black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-body{
    min-height:200px;
}
.passworkd_label{
    padding-top: 7px;
    text-align: right;
}
.custom_btn2{
  float: right;
  font-size:15px;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: white !important;
  border:1px solid #ccc;
  color:gray;
  border-radius: 5px;
  margin-right: 6px;
}
.custom_btn2:hover{
  border:1px solid black;
  color:black;  
}
.hi_running_info{
  background-color:rgba(50,50,50,0.8);
  padding-top:10px;
  padding-bottom:10px;
  min-height: 200px;
}
.check_attendance{
  background-color:rgba(50,50,50,0.8);
  padding-top:10px;
  padding-bottom:10px;
  min-height: 200px;
}
.running_info{
  background-color:rgba(50,50,50,0.8);
  padding-top:10px;
  padding-bottom:10px;
  min-height: 200px;
}

@media only screen and (max-width: 500px) {
      #main_body{
      overflow: auto;
    }
    .web{
        display:none;
    }
    .mobile{
        display:inline-block;
    }
    #logo{
      min-height: 100px;
      padding:20px;
      left:50%;
      top:30%;
      font-size:20px;
      color: white;
      opacity: 0.9;
      transform: translateX(-50%);
      background-color: transparent !important;
    }
    .runner2{
      bottom :0;
      left:25%;
      background-color: transparent !important;
      color: transparent;
      width:80px;
      height:auto;
    }
    section{
      margin-top:300px;
      min-height:40vh;
      height:100%;
    }
    .Title_name{
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.9);
      font-size:15px;
      margin-top:13px;
    }
    .attend_rank_tb{
      font-size:13px !important;
    }
    table{
      font-size:10px !important;
    }
    
    table td{
      padding:0 !important;
    }
    table th{
      padding:0 !important;
    }
    .btn_check{
        margin-top:10px;
    }
    .cutstom_btn{
      float: right;
      font-size:10px;
      font-weight: 600;
      text-decoration: none;
      border: none;
      outline: none;
      background-color: transparent;
      margin-top:6px;
      margin-right:4px;
    }
    .cutstom_btn2{
      float: right;
      font-size:8px;
      font-weight: 600;
      text-decoration: none;
      border: none;
      outline: none;
      background-color: transparent;
    }
    
    /*카드 css*/
    .running_info{
      padding-top:20px;
    }
    .card_holder{
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 15px;
      margin-bottom: 3px;
      min-height:100px;
      height:100%;
      background-color: white;
      box-shadow: 3px 3px 2px #888888;
      border-radius: 10px;
      color:black;
    }
    .card_left{
      display:inline-block;
      width:35%;
      min-height:100px;
      height:100%;
    }
    .card_right{
      display:inline-block;
      width:60%;
      min-height:100px;
      height:100%;
      border-radius: 0 10px 10px 0;
    }
    .price{
      font-size:18px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .title{
      font-size:20px;
      font-weight: 600;
      margin-top:7px;
      margin-left: 5px;
    }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

